{% extends "_base.html" %}
{% load static %}

{% block content %}
{% for Audiobook in Audiobook %}


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
          <h3>{{ Audiobook.title }}</h3>
        </button>
      </h2>
    </div>

    <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ Audiobook.youtube_code }}" title="YouTube video player" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


{% endfor %}



{% endblock content %}